<div class= "bg-info">
	<div class="text-center" style="margin-top:5px;">
		<p><h4>我要提问</h4></p>
		<p><a href="{% url 'QandA:QandA_focus' %}">我的关注</a></p>
		<p><a href="{% url 'QandA:QandA_collections' %}">我的收藏</a></p>
		<p><a href="{% url 'QandA:QandA_list' %}">我的问答</a></p>
		<p><a href="{% url 'QandA:QandA_topic' %}">主题广场</a></p>
		<p><h4>技术问答</h4></p>
		<p><a href="{% url 'QandA:QandA_share' %}">技术分享</a></p>
		<p><a href="{% url 'QandA:QandA_mix' %}">IT大锅炖</a></p>
		<p><a href="{% url 'QandA:QandA_career' %}">职业生涯</a></p>
	</div>
</div>